.facultys {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.faculty-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.faculty-item {
  margin-bottom: 20px;
  width: calc(33.33% - 20px);
}

.faculty {
  position: relative;
  width: 48%;
  margin-bottom: 20px;
  box-shadow: 0px 1px 10px -7px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

.faculty:hover {
  transform: translateY(-5px);
}

.faculty_img {
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  object-fit: cover;
  display: block; /* Change display to block */
}

.faculty_info {
  padding: 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.faculty_name {
  font-size: 18px;
  font-weight: bold;
}

.faculty_position {
  font-size: 16px;
}

.faculty_cabin,
.faculty_mail {
  font-size: 14px;
  color: #777777;
}

.view_more_button {
  background-color: #00008b;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view_more_button:hover {
  background-color: #00008b;
}

@media (max-width: 768px) {
  .facultys {
    flex-direction: column;
  }

  .faculty {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .faculty-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .faculty-item {
    width: calc(100% - 20px);
  }
}