.h-wrapper{
    background: var(--white);
    color: white;
}
.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem ;


}
.h-menu{
    gap:2rem;
  
}

.button{
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.6rem 1.4rem;
    color: white;
    background: var(--blue-gradient);
    border: none;
    border-radius: 4px;
    transition: all 300ms ease-in;
}
.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}




.h-menu>*:hover{
    cursor: pointer;
}






